/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


/* 
    Created on : 16/11/2017, 09:37:24
    Author     : wemerson
*/


/*:::::::::::::::;;;;;;;;;;;;;;;;;;;;;;;;
        iPad in portrait & landscape
:::::::::::::::::::::::::::::::::::::::*/

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 

    .navbar-nav {
        float: left;
        margin: 1rem auto;
    }
    .espaceBox {
        margin-top: -3.3rem;
    }
    li.boxPoliticsPacto {
        margin: -8rem -2rem -11rem -68px;
    }
    .acessOnlineBtn{
        float: right !important;
    }



}

@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px)  { 

    li.boxPoliticsPacto {
        margin: -8rem 4rem 0rem auto;
    }

}


/*:::::::::::::::;;;;;;;;;;;;;;;;;;;;;;;;
        /iPad in portrait & landscape
:::::::::::::::::::::::::::::::::::::::*/







/*@media (min-width: 768px) {
    .navbar-right {
        float: right!important;
        margin-right: -15px;
    }
}*/


/*

@media screen and (min-width: 768px) {



}
@media screen and (min-width: 1024px) {


}*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    #logo {
        width: 100%;
        margin: 0 auto -4rem auto;
    }
    .acessOnline {
        background-color: #DF3237 !important;
        color: white;
        font-weight: 400;
        border-radius: 20px;
        font-size: 0.8em;
        padding: 0.2rem;
        margin: 0rem auto;
    }

    .jumbotron {
        height: auto;
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0 0%, 0 0);
        clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0 0%, 0 0);
    }
    .box01SubImgAlig {
        margin-right: 0%;
    }
    .box01SubImg {
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
    div.boxImagHome {
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        margin: 2rem;
        /*        padding: 1rem 16rem 0;*/
    }

    ul,
    ol {
        margin-top: 39px;
        margin-bottom: 10px;
    }
    #boxLeis {
        -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 100%);
        clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 100%);
    }
    .topDescriptionmaps {
        margin-bottom: 0rem;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

    .acessOnline {
        font-size: 11px;
    }
    #logo {
        width: 100%;
    }
    .jumbotron {
        height: auto;
        -webkit-clip-path: polygon(100% 0, 100% 80%, 30% 90%, 0 80%, 0 0);
        clip-path: polygon(100% 0, 100% 80%, 30% 90%, 0 80%, 0 0);
    }
    div.boxImagHome {
        -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
        margin: 0 auto;
        height: auto;
    }

    .carousel-caption {
        margin: 0 auto;
    }
    #btnBannerSlid {
        margin-left: 20%;
    }
    .box01SubImgAlig {
        margin-right: -10%;
    }
    .box01SubImg {
        -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    }

    #boxLeis {
        webkit-clip-path: polygon(0 14%, 100% 0%, 100% 100%, 0 100%);
        clip-path: polygon(0 14%, 100% 0%, 100% 100%, 0 90%);
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .espaceBox {
        display: none;
    }
}

@media (max-width: 1024px) {

}
/*@media (max-width: 1280px) {
    .espaceBox {
        margin-top: 0rem;
    }
}*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::
        Mobile style
::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
    #logo {
        width: 100%;
        margin: -6rem auto 0rem auto;
    }
    .navbar-header {
        margin: 0 auto;
    }
    .navbar-collapse {
        margin: 13rem auto;
    }
    .btnNav {
        margin: -11rem auto 6rem auto;
    }
    .espaceBox {
        margin-top: 0rem;
        position: relative;
        margin-bottom: 1rem;
    }
    .jumbotron {
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0 100%, 0 0);
        clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0 100%, 0 0);
        height: auto;
        margin: 1rem auto -4rem auto;
    }
    #carousel-example-generic {
        margin: 12rem auto 1rem auto;
    }
    .carousel-caption {
        margin: 0 auto;
    }
    .box01SubImg {
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
    .box01SubImgAlig {
        margin-right: 0%;
    }
    #titleAbout {
        margin: -3rem auto 5rem auto;
    }
    #imgAboutOne {
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
        margin-bottom: 1.5rem;
    }
    .boxAboutTwo {
        right: 0rem;
    }
    .boxAboutThree {
        right: 0rem;
        margin: 0 auto;
    }
    .imgAboutTwo {
        width: 100%;
        height: auto;
        float: left;
        left: 1rem;
        -webkit-clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
        margin-bottom: 1.5rem;
    }
    .nav-tabs>li {
        float: none;
        margin: 5rem auto;
    }
    div.boxImagHome {
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        margin: 2rem;
    }
    img.boxUnidPhoto {
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        margin-bottom: 1.5rem;
    }
    #services {
        margin: -3rem auto;
    }
    #informacoes {
        margin: -3rem auto 10rem auto;
    }
    #boxLeis {
        -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 100%);
        clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 90%);
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
    #logo {
        width: 100%;
        margin: -1rem auto 0rem auto;
    }
    .navbar-toggle {
        margin-right: 38px;
    }
    .jumbotron {
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0 100%, 0 0);
        clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0 100%, 0 0);
        height: auto;
    }
    .carousel-caption {
        margin: 0 auto;
    }
    .nav-tabs>li {
        float: left;
        margin: 5rem auto;
    }
    a.politcMobile {
        margin: -11rem 61% auto;
    }
}
/*Android mobile*/
@media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
    #logo {
        width: 100%;
        margin: 0rem auto 0rem auto;
    }
    .navbar-header {
        margin: 0 auto;
    }
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border-color: #101010;
        overflow: scroll;
    }
    .navbar-toggle {
        position: relative;
        float: right;
        margin-right: 15px;
        padding: 9px 10px;
        margin-top: -50px;
        margin-bottom: 8px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
        border-radius: 4px;
    }
    .carousel-caption {
        margin: 0 auto;
    }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
    #logo {
        width: 100%;
        margin: 0rem auto 0rem auto;
    }
    .jumbotron {
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0 100%, 0 0);
        clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0 100%, 0 0);
        height: auto;
    }
    .box01SubImgAlig {
        margin-right: 0%;
    }
    .box01SubImg {
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
    #logo {
        width: 100%;
        margin: 0rem auto 0rem auto;
    }
    .carousel-caption {
        margin: 0 auto;
    }
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::
        Laptop style
::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) and (orientation: portrait) {
    .jumbotron {
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0 100%, 0 0);
        clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0 100%, 0 0);
        height: auto;
        margin-bottom: 1rem;
    }
    .box01SubImgAlig {
        margin-right: 0%;
    }
    .box01SubImg {
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
    .carousel-caption {
        margin: 0 auto;
    }
}
